.task {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  text-transform: capitalize;
  border: 1px solid purple;
  padding: 0.5rem;
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .checkbox {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: none;
      margin: 1.5rem;
    }
    .name {
      width: 90%;
      text-align: center;
      font-size: 1.5rem;
    }
  }
  .task-schedule {
    display: flex;
    justify-content: space-between;
  }
}
